@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    font-family: "Roboto", sans-serif;
}

:root {
    --section-color: blue;
    --figure-color: orange;
    --title-color: green;
    --button-color: red;
    --link-color: #255EE9;
}

/* .header {
    height: 30px;
    width: 60px;
    margin: 5px;
    background-color: var(--link-color);
} */

.section {
    background-color: var(--section-color);
}

.title {
    background-color: var(--title-color);
}


.link {
    background-color: var(--link-color);
}



/* body {
    margin: auto;
    width: 80%;
} */


header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #255EE9;
}


.container-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 35px;
}

.nav-link {
    font-size: 12px;
    color: white;
}

.nav-link button {
    font-size: 12px;
    color: black;
    border: none;
    border-radius: 20px;
    padding: 8px;
}

.start {
    background-image: url("../img-3/jumbo.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: white;
    text-align: center;
    line-height: 0;
    font-weight: 600;
    font-size: 40px;
}

h2 {
    color: #23272A;
    font-weight: 500;
    font-size: 40px;
}

.article-start {
    color: white;
    text-align: center;
    line-height: 20px;
    font-weight: 400;
    font-size: 15px;
    width: 45%;
}

.article-body {
    color: #23272A;
    line-height: 20px;
    font-weight: 400;
    font-size: 15px;
    width: 80%;
}

.button1-2 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 20px
    
}

.button-1 {
    background-color: white;
    font-weight: 400;
    color: black;
    text-align: center;
    border: none;
    border-radius: 20px;
    padding: 10px;
}


.button-2 {
    background-color: #23272A;
    font-weight: 300;
    color: white;
    text-align: center;
    border: none;
    border-radius: 20px;
    padding: 10px;
}

.chapter1 {
       height: 500px;
       gap: 10px;
}

.contain-ch1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 60%;
}

/* .imag1 {
    height: 40px;
    width: 40px;
} */

/* .direction {
    width: 30%;
} */

/* .image {
    background-color: var(--figure-color);
    height: 150px;
    width: 15%;
} */

/* .article {
        background-color: green;
        height: 75px;
        margin: 15px;
} */

.chapter2 {
    background-color: #F6F6F6;
    height: 500px;
    gap: 10px;
}

.contain-ch2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 60%;
}

.flex-direction {
    display: flex;
    flex-direction: column;
}

.chapter3 {
    height: 500px;
    gap: 10px;
}

.contain-ch3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 60%;
}


.last-chapter {
    background-color: #F6F6F6;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 0;
    height: 900px;
}

.stars {
    background-image: url("../img-3/stars.svg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 100px;
    width: 40%;
}

.stars p {
    padding-top: 15px;
    font-size: 30px;
    font-weight: 600;
}

.article-last {
    color: #23272A;
    line-height: 20px;
    font-weight: 400;
    font-size: 15px;
    width: 60%;
}

.button-3 {
    background-color: #7289DA;
    font-weight: 400;
    color: white;
    text-align: center;
    border: none;
    border-radius: 20px;
    padding: 10px;
 }


footer {
    background-color: #23272A;
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
}

.foot-contain {
    display: flex;
    justify-content: space-between;
    height: 350px;
    padding-bottom: 25px;
    margin: 0 auto;
    width: 80%;
}

hr {
    border: 1px solid #7289DA;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    width: 80%;
}

.useful-links1{
    height: 300px;
    width: 20%;
}

.useful-links2{
    height: 300px;
    width: 15%;
}

.ending {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
}

.text-h1 {
    color: #6983D6;
    font-size: 30px;
    font-weight: 500;
}

.text-h2 {
    color: #6983D6;
    font-size: 15px;
    font-weight: 600;
}

.useful-links2 p {
    color: white;
    font-size: 15px;
    font-weight: 300;
}

.img-foot {
    display: flex;
    justify-content: baseline;
    margin-top: 10px;
}

.img-foot p {
    margin: 0;
    margin-left: 2px;
    margin-bottom: 10px;
    color: white;
    font-weight: 300;
    font-size: 12px;
    display: inline-block;
}

.text-foot {
    background-color: var(--title-color);
    text-align: center;
    height: 40px;
}

.links {
    background-color: blue;
    height: 15px;
    width: 90%;
    margin-top: 15px;
}

.foot-link button {
    background-color: #7289DA;
    font-size: 12px;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 8px;
}